@import 'variables'

#instructions
  position: relative
  width: 550px
  text-align: left
  font-family: monospace
  font-size: $main_text_font_size
  transition: opacity 3s
  opacity: 0

  .languageToggle
    height: $main_block_height

  .install
    margin-top: $margin_between_text_blocks
    height: $main_block_height

  .usage
    margin-top: $margin_between_text_blocks
    height: 300px

  .apiKey
    height: $main_block_height
    font-size: $main_text_font_size

  .label
    font-family: $main_font_family
    text-align: center

.appear
  opacity: 1 !important

@media (max-width: 500px)
  #instructions
    font-size: $main_text_font_size_mobile
    max-width: 100vw

    .apiKey
      font-size: $main_text_font_size_mobile

    .install, .usage
      margin-top: 10px