@import 'variables'

#instructions
  position: relative
  width: 550px
  text-align: left
  font-family: monospace
  font-size: $main_text_font_size
  transition: opacity 3s
  opacity: 0

  .languageToggle
    height: $main_block_height

  .install
    margin-top: $margin_between_text_blocks
    height: $main_block_height

  .usage
    margin-top: $margin_between_text_blocks
    height: 300px

  .apiKey
    height: $main_block_height
    font-size: $main_text_font_size

  .label
    text-align: center

.appear
  opacity: 1 !important