@import 'variables'
@import 'commons'

html
  min-height: 100vh
  min-width: 100vw
  text-align: center

body
  font-family: $main_font_family
  min-height: 100vh
  overflow-x: hidden
  background-color: $main_background_color
  color: $main_font_color

.App
  @include displayCenteredVertical
  width: 100vw

  .header
    padding: 25px 0 50px
    font-size: 8vh
    font-weight: 600

  .header-selection
    padding-left: 5px
    padding-right: 4px
    margin-left: 5px
    border-radius: 3px
    color: $main_fields_color
    background-color: $main_border_color

  .signs
    position: absolute
    bottom: 0
    left: 0
    height: 25px
    width: 100vw
    padding-bottom: 10px

  a
    text-decoration: none
    color: $main_border_color

  .localeSettings
    position: absolute
    right: 5vw
    top: 2vh

    .language
      text-decoration: underline
      cursor: pointer
      transition: 0.5s
      outline: none

      &:hover
        text-shadow: 0 0 5px $main_border_color

      &:active
        color: $main_border_color

@media (max-width: 500px)
  .App .header
    font-size: 6vh
    padding: 15px 0 15px

    .signs
      position: relative
      padding-top: 10px
